h1 {
    border-color: blue;
    border-left-color: rgb(0, 204, 255);
    border-right-color: rgb(0, 204, 255);
    border-width: 5px;
    border-style: solid;
   
}

h4 {
    border:3px solid rgb(80, 126, 196);
    
}

div {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#red {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}